
/* Base style is the desktop style */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin-top: 60px;
	font-size: initial;
}

h1 {
	text-align: center;
	font-size: 1.75em;
	color: black;
	margin-bottom: 40px;
}

.col1 {
	float: left;
	position: relative;
	height: auto;
	border: 1px solid;
	background-color: grey;
	min-width: 100px;
	width: auto;
	overflow: auto;
}

.col2 {
	float: left;
	position: relative;
	height: auto;
	width: auto;
	border: 1px solid;
	background-color: grey;

}

.col3 {
	float: left;
	position: relative;
	height: auto;
	width: auto;
	border: 1px solid;
	background-color: grey;	
}

.title-section {
	float: right;
	height: auto;
	text-align: center;
	font-size: 1.25em;
	width: 100px;
}

.col1 .title-section {
	background-color: pink;
}

.col2 .title-section {
	background-color: yellow;
}

.col3 .title-section {
	background-color: brown;
}

.lorem {
	text-align: left;
	padding: 2px;
	font-size: initial;
	clear: both;
}

@media (min-width: 992px) {
	.col1 {
		margin-left: 1.25%;
		margin-right: 1.25%;
		width: 30%;
	}

	.col2 {
		margin-left: 1.25%;
		margin-right: 1.25%;
		width: 30%;
	}

	.col3 {
		margin-left: 1.25%;
		margin-right: 1.25%;
		width: 30%;
	}
}



/* Media style for tablet */
@media (min-width: 768px) and (max-width: 991px) {
	.col1 {
		width: 45%;
		margin-left: 2.5%;
		margin-right: 1.25%;
		margin-top: 2.5%;
		margin-bottom: 2.5%;
	}

	.col2 {
		width: 45%;
		margin-left: 1.25%;
		margin-right: 2.5%;
		margin-top: 2.5%;
		margin-bottom: 2.5%;
	}

	.col3 {
		width: 92.75%;
		margin-left: 2.5%;
		margin-right: 1.5%;
		margin-top: 2.5%;
		margin-bottom: 2.5%;
	}
} 

/* Media query for mobile phones */
@media (max-width: 767px) {
	.col1 {
		width: auto;
		max-width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
		margin-top: 2.5%;
		margin-bottom: 2.5%;
	}

	.col2 {
		width: auto;
		max-width: 95%;
		margin: 2.5%;
		margin-left: 2.5%;
		margin-right: 2.5%;
		margin-top: 2.5%;
		margin-bottom: 2.5%; 

	}

	.col3 {
		width: auto;
		max-width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
		margin-top: 2.5%;
		margin-bottom: 2.5%;
	}
} 